* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  background: #512da8;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease;
}

a.active,
a:hover {
  background: #986dfd;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 995px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #512da8, #986dfd);
    top: 80px;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    background: #9b89c5;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

section {
  background: url(cd7AAYsEzZ06D39yythSb_HIw.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

section h1 {
  font-size: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

section p {
  font-size: 20px;
}
